@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  
}
body{
    background-color: #000;
}
html, body{
    height: 100%;
    margin: 0;
    padding:0;
}
h1 {
    padding-top: 1em;
    color: white;
    text-align: center;
    
}
body{
    background-color: black;
    
}
.container{
    display: flex;
    flex-direction: column;
    
}
.light,.dark{
    height: 49%;
}

.light{
    background-color: grey;
   
}
.dark{
    background-color: black;
    border: 1px solid white;
    color: white;
    
}
