@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: white;
}
body{
    background-color: #000;
}

.logo {
    width: 2.5rem;
  }
  
  
  .show {
    display: block;
  }
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(44, 209, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin-left: 1em;
    margin-top: 0.5em;
  }
  .circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin-left: 6em;
    margin-top: 0.5em;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;

 }
 .scroll-bar {
    overflow-x: auto;
    white-space: nowrap;
  
 }
 .topic {
    display: inline-block;
    padding: 2em;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
 }
 .topic:hover {
  background-color: lightgray;
}
 .text-box {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid white;
 }
.remove {
    background-color: #459afc;
    border-radius: 10px;
    padding: 5px 10px;
}
.cancel-button{
  float: right;
}
.cancel{
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}
.continue{
background-color:#459afc;
padding: 5px 10px;
border-radius: 10px;
}
.continue-button{
float:right;
}


 
