@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

/* @media (max-width: 900px) {
  html,
  body {
    height: 100%;
  }
} */

body {
  background-color: #000;
  font-size: 14px;
}

/* .organiser {
  display: flex;
  justify-content: center;
} */

.post-reply-cont {
  padding: 1em;
  max-width: 70em;
}

.post {
  width: 100%;
  /* border: 0.1px solid #ffffff; */
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  padding: 3em;
  margin: 0em 0 1em 0;
}

.post > .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.post > .header > h1 {
  max-width: 70%;
  font-size: 24px;
  padding-right: 0.1em;
  font-weight: 600;
}

.post > .header > button.more-options {
  vertical-align: top;
  border: none;
  background-color: transparent;
  color: #fff;
  height: fit-content;
  font-size: 20px;
  cursor: pointer;
}

.post > .footer > .user-info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.post > .footer > .user-info > .details {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
}

.post > .footer > .user-info > .details > .date {
  color: rgb(104, 104, 104);
}

.post > .header > .topics {
  display: flex;
  justify-content: end;
  font-size: 16px;
}

.post > .header > .topics > .pill {
  margin: 0 0 0 0.3em;
  padding: 0.5em 0.8em;
  /* border: 1px solid #fff; */
  border-radius: 30px;
  height: fit-content;
  vertical-align: middle;
}

.news {
  background-color: #2bd073;
}

.gaming {
  background-color: #d65780;
}

.cooking {
  background-color: #183446;
}

.space {
  background-color: #391e91;
}

.positivity {
  background-color: #ffb700;
}

.q\&a {
  background-color: #0090c1;
}

.sports {
  background-color: #ef3e36;
}

.post > .body {
  width: 100%;
  /* padding: 0.5em 0; */
  font-size: 17px;
  word-spacing: 1px;
  line-height: 25px;
  font-weight: 300;
}

.post > .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0 0 0;
  margin-left: -0.5em;
}

/* .post > .footer > .reactions > .comments {
  display: inline;
  flex-wrap: wrap;
}

.post > .footer > .reactions > .comments > i {
  font-size: 20px;
  margin-right: 3px;
  padding: 10px;
  vertical-align: middle;
}

.post > .footer > .reactions > .comments > span {
  font-size: 16px;
  margin-right: 1em;
}

.post > .footer > .reactions > .comments:hover {
  cursor: pointer;
}

.post > .footer > .reactions > .comments:hover > i {
  color: #1c9cef;
  background-color: #0c1720;
  cursor: pointer;
  border-radius: 50px;
}

.post > .footer > .reactions > .comments:hover > span {
  color: #1c9cef;
  cursor: pointer;
  border-radius: 50px;
} */

.post > .footer > .reactions > .popularity {
  display: inline;
  flex-wrap: wrap;
}

.post > .footer > .reactions > .popularity > i {
  font-size: 20px;
  margin-right: 3px;
  padding: 10px;
  vertical-align: middle;
}

.post > .footer > .reactions > .popularity > span {
  font-size: 16px;
  vertical-align: middle;
}

.post > .footer > .reactions > .popularity:hover {
  cursor: pointer;
}

.post > .footer > .reactions > .popularity:hover > i {
  color: #fa187f;
  background-color: #210c14;
  cursor: pointer;
  border-radius: 50px;
}

.post > .footer > .reactions > .popularity:hover > span {
  color: #fa187f;
  cursor: pointer;
  border-radius: 50px;
}

.post > .footer > .reactions > a {
  text-decoration: none;
  color: #fff;
}

.post > .footer > .reactions > a > .popularity {
  display: inline;
  flex-wrap: wrap;
}

.post > .footer > .reactions > a > .popularity > i {
  font-size: 20px;
  margin-right: 3px;
  padding: 10px;
  vertical-align: middle;
}

.post > .footer > .reactions > a > .popularity > span {
  font-size: 16px;
  vertical-align: middle;
}

.post > .footer > .reactions > a > .popularity:hover {
  cursor: pointer;
}

.post > .footer > .reactions > a > .popularity:hover > i {
  color: #fa187f;
  background-color: #210c14;
  cursor: pointer;
  border-radius: 50px;
}

.post > .footer > .reactions > .popularity:hover > span {
  color: #fa187f;
  cursor: pointer;
  border-radius: 50px;
}

.replies {
  padding: 1em 3em;
}

.replies > .header > h1 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.replies > .header {
  display: flex;
}

.replies > .header > sup {
  margin: 0 0.5em;
}

.reply-count {
  background-color: rgb(37, 37, 37);
  color: #fff;
  padding: 3px 6px;
  border-radius: 7px;
}

.post-reply > form {
  margin: 1.5em 0 5em 0;
}

.post-reply > form > textarea {
  resize: none;
  width: 100%;
  background-color: #000;
  border: 1px solid #212121;
  padding: 1em;
  border-radius: 10px;
  word-spacing: 1px;
  line-height: 25px;
  color: #fff;
}

.post-reply > form > textarea:focus {
  outline-style: solid;
  outline-color: #005eff;
  border: 1px solid #005eff;
}

.expanded {
  min-height: 10em;
}

.post-btn-cont {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -3.5em;
}

.post-btn-cont > #post-reply-btn {
  display: none;
  background-color: #005eff;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  margin: 0 0.6em 0 0;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

.not-logged-in {
  margin: 1.5em 0;
  background-color: #005eff;
  border-radius: 10px;
  padding: 2em;
}

.not-logged-in > h1 {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.not-logged-in > a {
  text-decoration: none;
}

.login-post-btn {
  display: inline;
  height: 100%;
  border-radius: 10px;
  margin: 1em 0 0 0;
  padding: 0.8em 0.8em;
  background-color: #000917;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.login-post-btn:hover {
  background-color: #002462;
}

.user-replies {
  /* border: 1px solid #fff; */
  color: #fff;
  border-radius: 10px;
  /* padding: 2em; */
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.reply {
  margin: 1em 0;
  background-color: #161616;
  padding: 1.5em 2em;
  border-radius: 15px;

  /* border-radius: 0px 15px 15px 0px; */
  /* border-left: 3px solid #0055ff; */
}

.reply > .header {
  display: flex;
  align-items: center;
}

.reply > .header > .user-info {
  font-size: 17px;
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.reply > .body {
  padding: 0.5em 0;
  font-size: 17px;
  word-spacing: 1px;
  line-height: 25px;
  font-weight: 300;
}

.reply > .footer {
  display: flex;
  justify-content: start;
  margin-top: 0.5em;
  font-weight: 400;
  align-items: center;
}

.reply > .footer > .time {
  font-size: 13px;
  color: gray;
}

.regular {
  color: #fff;
  font-size: 17px;
  margin-top: 3px;
}

.like > a .hover {
  display: none;
  color: #fff;
  font-size: 17px;
  margin-top: 3px;
}

.like > a:hover .regular {
  display: none;
}

.like > a:hover .hover {
  display: inline-block;
}

#profile-picture-post {
  margin-right: 0.4em;
  vertical-align: middle;
  padding-bottom: 0.2em;
  width: 3.8em;
  height: 4.2em;
  /* padding-top: 8px; */
}

#profile-picture-reply {
  margin-right: 0.01em;
  vertical-align: middle;
  padding-bottom: 0.2em;
  width: 2.8em;
  /* padding-top: 8px; */
}

.solid-red-color {
  color: #fa187f;
}

.vertical-line-break {
  border-left: 2px solid gray;
  border-radius: 50px;
  height: 1.5em;
  margin: 0 1em;
}

.reply-footer-text {
  font-size: 17px;
}

.report-reply > a:hover {
  color: #f64242;
}

.remove-decotation {
  text-decoration: none;
  color: #fff;
}

.report-reply > a > .hover {
  display: none;
  color: #f64242;
}

.report-reply > a:hover .regular {
  display: none;
}
.report-reply > a:hover .hover {
  display: inline-block;
}
