.footer-container {
  margin-top: 3em;
  color: #fff;
  width: 100%;
  padding: 0 4em;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 123px;
}

.wave .shape-fill {
  fill: #000000;
}

.footer-content {
  margin-top: 6em;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-x: hidden; */
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/waves_b.svg");
}

.footer-content > .top {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}

.footer-content > .top > .left-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.footer-content > .top > .left-container > h1 {
  font-size: 35px;
}

.footer-text {
  font-size: 17px;
}

.footer-content > .top > .left-container > .description {
  display: inline-block;
  font-size: 17px;
  max-width: 500px !important;
}

.footer-content > .top > .left-container > .description > a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px dotted #fff;
}

.footer-content > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-container {
  border-radius: 100px;
  background-color: #fff;
  padding: 1em;
  cursor: pointer;
}

.left-container,
.right-container {
  max-width: 50%;
  min-width: 380px;
}
.right-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 2em;
}

.footer-list > a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}
