footer {
  margin-top: 4em;
  color: #fff;
  width: 100%;
  padding: 2em 4em;
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.logo-container {
  width: 50%;
  height: fit-content;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.logo-container > img {
  height: 3.8em;
  margin-right: 1em;
}

.links-and-info {
  display: flex;
  justify-content: end;
  align-items: center;
}

.copyright {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.back-to-top > a {
  text-decoration: none;
  color: #000;
}

.arrow-container {
  padding: 0.5em 0.8em;
  border-radius: 100%;
  background-color: #fff;
  color: #000;
  font-size: 22px;
}

html {
  scroll-behavior: smooth;
}
