* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  font-size: 0.875em;
  overflow-x: hidden;
}

.toast {
  position: absolute;
  top: 7em;
  right: 30px;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #fa404f;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast-content .check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  color: #fa404f;
  font-size: 30px;
  border-radius: 50%;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close-icon:hover {
  opacity: 1;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #333;
}

.toast .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fa404f;
}

.progress.active::before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.container {
  width: inherit;
  height: 85%;
  margin: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.container > .image-container {
  width: 50%;
  background-color: #0077ff;
  display: flex;
  justify-content: center;
  padding: 5em;
  border-radius: 20px 0 0 20px;
}

.container > .form-container {
  width: 50%;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  color: #fff;
  border-radius: 0 20px 20px 0;
}

@media (max-width: 1050px) {
  .container > .image-container {
    display: none;
  }

  .container > .form-container {
    border-radius: 15px;
    width: 70%;
  }
}

.form-container > h1 {
  padding: 1em 0.5em;
}

.login-form {
  padding: 1em;
}

#login-illustration {
  width: 80%;
}

.label-element {
  font-size: 16px !important;
}

.input-field {
  width: 100%;
  font-size: 16px;
  margin: 1em 0;
  padding: 0.5em;
  background-color: #181818;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
}

.password-container > .label-container {
  display: flex;
  justify-content: space-between;
}

.password-container > .label-container > .link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.password-input-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.show-password-icon {
  position: fixed;
  margin-right: 1em;
  cursor: pointer;
}

.lower-container {
  padding: 1.5em 0;
}

.options-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.btn {
  width: fit-content;
  padding: 0.6em;
  background-color: #0077ff;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  border-color: transparent;
}

.btn:hover {
  background-color: #0060ce;
}
