* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  font-size: 0.875em;
  overflow-x: hidden;
}

.container {
  width: inherit;
  height: fit-content;
  margin: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  color: #fff;
  padding: 2em;
  background-color: #000000;
}

.container > .header > h1 {
  font-size: 35px;
}

.container > .body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 1em 0;
}

.body > .left-column,
.body > .right-column {
  max-width: 50%;
  min-width: 43em;
  margin: 1em;
}

@media (max-width: 1368px) {
  .container > .body {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .body > .left-column,
  .body > .right-column {
    min-width: 35em;
  }
}

.form-container {
  margin: 1em 0;
}

.form-container > form {
  width: 100%;
  border-radius: 10px;
  outline: 1px solid #fff;
  padding: 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.form-container > form > h1 {
  margin: 0 0 0.5em 0;
}

.form-container > form > .submit-container {
  display: flex;
  justify-content: end;
}

.input-label {
  font-size: 17px;
}

.input-field {
  background-color: #0f0f0f;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  border-radius: 10px;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  margin: 0.2em 0;
  margin-bottom: 0.8em;
}

.input-field:focus {
  outline: 1px solid #004cff;
}

.style-button {
  color: #fff;
  margin: 0.5em;
  width: fit-content;
  padding: 0.3em 0.5em;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  border-color: transparent;
  background-color: #004cff;
}

.bio-form > form > textarea {
  resize: none;
  width: 100%;
  background-color: #000;
  border: 1px solid #212121;
  padding: 1em;
  border-radius: 10px;
  word-spacing: 1px;
  line-height: 25px;
  color: #fff;
  height: 10em;
}

.bio-form > form > textarea:focus {
  outline-style: solid;
  outline-color: #005eff;
  border: 1px solid #005eff;
}

.link-container {
  margin: 1em 0;
  outline: 1px solid #fff;
  padding: 1.5em 1.5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
