* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  font-size: 16px;
}

.container {
  width: inherit;
  /* height: 88vh; */
  margin: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.container > .image-container {
  width: 50%;
  background-color: #01001c;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
  padding: 5em;
  border-radius: 20px 0 0 20px;
}

.container > .form-container {
  width: 50%;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
  color: #fff;
  border-radius: 0 20px 20px 0;
}

@media (max-width: 1050px) {
  .container > .image-container {
    display: none;
  }

  .container > .form-container {
    border-radius: 20px;
    width: 90%;
  }
}

.container > .image-container > h1 {
  font-size: 40px;
  padding: 2em 0;
}

.form-container > h1 {
  padding: 1em 0.5em;
}

#signupForm {
  width: 100%;
}

#firstNameLabel {
  font-size: 16px;
  padding: 1em;
}

#firstName {
  width: 90%;
  font-size: 16px;
  margin: 1em;
  padding: 0.5em;
  background-color: #181818;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
}

#lastNameLabel {
  font-size: 16px;
  padding: 1em;
}

#lastName {
  width: 90%;
  font-size: 16px;
  margin: 1em;
  padding: 0.5em;
  background-color: #181818;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
}

#usernameLabel {
  font-size: 16px;
  padding: 1em;
}

#username {
  width: 90%;
  font-size: 16px;
  margin: 1em;
  padding: 0.5em;
  background-color: #181818;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
}

#passLabel {
  font-size: 16px;
  padding: 1em;
}

#password {
  width: 90%;
  font-size: 16px;
  margin: 1em;
  padding: 0.5em;
  background-color: #181818;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
}

.passwordCont {
  display: flex;
  justify-content: start;
  /* padding: 0.5em;
  margin: 0.5em 0.8em; */
}

.passwordCont > i {
  vertical-align: middle;
  margin: 1em 0;
  padding: 1em;
  margin-left: -60px;
}

.passwordCont > i:hover {
  cursor: pointer;
}

/* .showPasswordCont > label {
  font-size: 16px;
  padding: 0 0.5em;
} */

#signupForm > .terms-checkbox {
  display: flex;
  justify-content: start;
}

#termsLabel {
  font-size: 16px;
  padding: 1em;
}

#termsLabel > a {
  text-decoration: underline;
  color: #fff;
}

#termsLabel > sup > i {
  font-size: 8px;
  color: #fff;
}

#agreeToTerms {
  font-size: 16px;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  background-color: #0f0f0f;
  border-color: transparent;
  border-radius: 50px;
  color: #fff;
}

#signupForm > .buttons-container {
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}

#signupForm > .buttons-container > .log-in-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#signupForm > .buttons-container > .log-in-btn-div > a > button,
#signupForm > .buttons-container > button {
  margin-top: 2.2em;
  width: fit-content;
  padding: 0.8em;
  background-color: #0077ff;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border-color: transparent;
}

#signupForm > .buttons-container > .log-in-btn-div > a > button {
  margin-top: 1em;
}

#signupForm > .buttons-container > .log-in-btn-div > a > button:hover,
#signupForm > .buttons-container > button:hover {
  background-color: #0060ce;
}

#login-illustration {
  width: 80%;
}

#loginLabel {
  font-size: 16px;
}
